@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    text-decoration: 0;
    color: white;
    font-weight: 500;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    /* background-color: #07393C; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;

    background: linear-gradient(90deg, #07393C, #072a3c, #073c30);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.burger-menu {
    display: none;
}

.burger-menu__close {
    display: none;       
}

header, main {
    width: 75%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.prankap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/monkey.gif');
    background-size: cover;
    background-position: -65%;
    display: none;
    transform: translateY(-40px);
    z-index: 10000;
}

.block {
    background-color: #2C666E;
    border-radius: 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

header {
    display: flex;
    justify-content: center;

    padding: 36px 0 36px 0;
}

header .pfp__container {
    display: none;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header__container>a {
    font-size: 30px;
}

.burger-menu__button {
    display: none;
}

.pfp {
    width: 219px;
    aspect-ratio: 1/1;
    border-radius: 24px;
}

.name {
    font-size: 39px;
}

.main__container {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0 70px 0;
}

.pfp__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bio__container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bio {
    font-size: 28px;
}

.button {
    background-color: #3B8D99;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 17px;
    height: 60px;

    font-size: 26px;

    cursor: pointer;
}

/* portfolio */

.project__container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.project__description {
    font-size: 20px;
}

/* socmedias */

.socmedias {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;

    gap: 20px;
    /* display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 200px); */
}

.socmedia {
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

/* .socmedia:hover{
    transform: translateY(-5px);
    transition: 0.4s;
} */

.spotify {
    background-color: #7ecf6d;
    background-image: url(assets/spotify.svg);
    background-size: 60%;
}

.discord {
    background-color: #5b69ee;
    background-image: url(assets/discord.jpg);
    background-size: 100%;
}

.steam {
    background: linear-gradient(180deg, #161c2d 0%, #22304e 32.69%, #3c7aa6 100%);   
    display: flex;
    justify-content: start;
    align-items: center;
}

.steam>img {
    width: 100%;
}

.telegram {
    background-color: #57a9dd;
    background-image: url(assets/telegram.svg);
    background-size: 100%;
}

.github {
    background-color: #1d1f23;
    background-image: url(assets/github.svg);
    background-size: 60%;
}

.roblox {
    background-color: #F6F6F6;
    background-image: url(assets/roblox.png);
    background-size: 60%;
}

.pinterest {
    background-color: #CC2B29;
    background-image: url(assets/pinterest.png);
    background-size: 90%;
}

.namemc {
    background-color: #050505;
    background-image: url(assets/namemc.png);
    background-size: 40%;
}

.donalerts {
    background: linear-gradient(90deg, #f57507 0%, #f59c07 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.donalerts>img {
    width: 50%;
}

.ilove {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06ab7a;
}

.repo-container {
    display: none;
}

#repomp4 {
    border-radius: 21px;
    width: 100%;
    z-index: 100;
}

.question {
    font-size: 120px;
    font-weight: 700;
}

/* equip section */

.equip {
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: repeat(4, 16vw);
    grid-template-rows: repeat(2, 16vw);

    gap: 30px;

    grid-template-areas: 
    'mic mouse monitor controller'
    'mic headphones keyboard keyboard';
}

.equip__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.equip__item>p {
    font-size: 30px;
}

.mic {
    grid-area: mic;
    
}

.mic>img {
    width: 70%;
    filter: brightness(75%);
}

.mouse {
    gap: 5%;
}

.mouse>img {
    width: 85%;
    filter: brightness(90%);
}

.monitor>img {
    width: 50%;
    filter: brightness(90%);
}

.keyboard>img {
    width: 80%;
    filter: brightness(90%);
}

.headphones>img {
    width: 60%;
    filter: brightness(90%);
}

.controller>img {
    width: 70%;
    filter: brightness(90%);
}

.controller>p {
    width: 80%;
    text-align: center;
}

.keyboard {
    grid-area: keyboard;
}

.old_version{
    bottom: -50px;
    right: 30px;
    position: absolute;
    background-attachment: fixed;
}

@media (max-width: 590px) {
    header, main {
        width: 85%;
    }

    header {
        height: 40px;
    }

    .header__container {
        justify-content: space-around;
    }

    .pfp__container {
        flex-direction: row-reverse;
        align-items: center;
    }

    .pfp {
        width: 60px;
    }

    .name {
        font-size: 30px;
    }

    .main__container>.pfp__container {
        display: none;
    }

    header .pfp__container {
        display: flex;
    }

    .header__container>a {
        display: none;
    }

    .bio {
        width: 75%;
        text-align: center;
    }

    .prank {
        width: 75%;
    }

    .bio__container {
        align-items: center;
    }

    .burger-menu__button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        aspect-ratio: 1/1;
    }

    .line {
        width: 100%;
        height: 6px;
        background-color: #A7C3C7;
        border-radius: 3px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;

        gap: 15px;

        padding: 70px 0 0 30px;

        width: calc(75% - 30px);
        height: calc(100vh - 70px);

        position: absolute;
        background-attachment: fixed;

        left: 0;
        top: 0;

        transform: translateX(-100%);

        z-index: 1001;

        transition: 0.3s;
    }

    .burger-menu>a {
        font-size: 30px;
    }

    .burger-menu__close {
        z-index: 1000;
        position: absolute;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .socmedias {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .question {
        font-size: 80px;
    }

    .equip {
        grid-template-columns: repeat(2, 38vw);
        grid-template-rows: repeat(4, 38vw);

        grid-template-areas: 
        'mic mouse'
        'mic headphones'
        'monitor controller'
        'keyboard keyboard';
    }

    .project__container {
        width: 500px;
        
        padding: 0 30px 0 30px;

        gap: 40px;
    }

    .prankap {
        background-position: -65%;
    }
}
